@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import "tailwindcss";

:root {
  --font-family: 'Fredoka One', cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  font-family: var(--font-fredoka); /* använder variabeln */
  min-height: 100vh;
  background-color: #242424; /* säkerställ att body också får bakgrund */
  color: rgba(255, 255, 255, 0.87);
}