@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-family: 'Roboto', sans-serif;
  --header-font: 'Mouse Memoirs', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  font-family: var(--font-family); /* använder variabeln */
  min-height: 100vh;
  background-color: #242424; /* säkerställ att body också får bakgrund */
  color: rgba(255, 255, 255, 0.87);
  height: 100%;
  overscroll-behavior-y: contain;
}

h1, h2, h3, h4, h5, h6, .font-own {
  font-family: var(--header-font);
}

/* Mindre “pull-to-refresh” och stabilare scroll på iOS */
#root {
  height: 100%;
  overscroll-behavior-y: contain;
}

/* Tar bort blå klick-highlight på iOS */
* {
  -webkit-tap-highlight-color: transparent;
}
